
div{
    height: 120px;
    width: 120px;
}
#container{
    margin: 0 auto;
    border: 2.5px solid black;
    display: flex;
    width: 90%;
    height: 300px;
    background-color: grey; 
    justify-content: space-evenly;
    flex-direction: column-reverse ;
    
/* as I have given height and width to divs as 120px..but they are not reflecting because container is set to flex
and it automatically distribute space to elements to fit in container . . . .
so we can use "flex-wrap", it will distribute elements with 120px height and width ..let see through practical  */
   
/* flex-wrap: wrap;  */
   flex-wrap: wrap-reverse;

}