#container{
    background-color: greenyellow;
}
div{
    display: inline-block;
}


#a{
    background-color: red;
    border: 3px solid black;
    height: 60px;
    width: 80px;
   
}
#b{
    background-color: blueviolet;
    border: 3px solid black;
    height: 60px;
    width: 80px;
  
}
#c{
    background-color: red;
    border: 3px solid black;
    height: 60px;
    width: 80px;

}

#static #b{
    position: static;
    top: 30;
}
#relative #b{                /* apne aap se suru hoga*/
    position: relative;
    top: 30;
    left: 20;
}
#absolute #b{               /* suru se suru hoga ya absolute div ko relative bnao phir isi se suru hoga*/
    position: absolute;
    top: 350;
    left: 200;
}
#fixed #b{
    position: fixed;
    
}
#sticky #b{
    position: -webkit-sticky;
    
    
    
}
