.default div{
    background-color: crimson;
    border:4px rgb(5, 4, 7) solid;
    height: 50px;
    width: 100px;
    margin: 2px;
}
.changed div{

    background-color: crimson;
    border:4px rgb(5, 4, 7) solid;
    height: 50px;
    width: 100px;
    margin: 2px;
     display: inline;   /*divs will align in line horizontally,but height width will not apply as inline elements dont inherit height width  */
}
.changed-again div{
    background-color: crimson;
    border:4px rgb(5, 4, 7) solid;
    height: 50px;
    width: 100px;
    margin: 2px;
    display: inline-block;
}