
 .container{
     height: 680px;
     display: grid;
     grid-template-columns: auto auto auto auto auto ;
     grid-template-rows: auto auto auto;
 }

    /* info */
 .Personal_info{
     background-color: #151D3B;
     /* height: 130px; */
     
 }
 .dp{
     height: 80px;
     width: 100px;
 }
 .left_content{
     grid-column: 1/5;
     background-color: #EDFEAD;
 }
 .left_content h1{
  margin-left: 10px;
  
}
.back_image{
    position: relative;
    margin-left: 400px;
    margin-top: -65px;
}
.my_pic{
    position:absolute;
  margin-left: 425px;
  margin-top: -118px;
}
 .details{
     color: white;
 }
/* name */
.title{
    background-color: wheat;
}
.title h1{
    margin-left: 370px;
    margin-top: 80px;
}
/* row2 */
#Education{
    border-radius: 0.5% 0.5% 0.5% 0.5%;
    margin-right: 35px;
    margin-left: 35px;
    /* text-align: center; */
    background-color:#00EAD3 ;
   

}
#Education h1{
    
    margin-left: 15px;
    background-color: black;
     text-align: center;
    color:#F5F4F4;
}
#Education h2{
    margin-left: 20px;
   color:#FF1E56;
}
#Education h3{
    margin-left: 20px;
   color:#3A0088;
}
#skills{
    
    border-radius: 0.5% 0.5% 0.5% 0.5%;
    margin-right: 35px;
    margin-left: 35px;
    /* text-align: center; */
    background-color: #00EAD3;
}
#skills h1{
  
    margin-left: 15px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
#skills h2{
    margin-left: 20px;
    color: #FF1E56;
}
#skills li{
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    list-style-type: none;
}
#experience{
    border-radius: 0.5% 0.5% 0.5% 0.5%;
    margin-right: 35px;
    margin-left: 35px;
    /* text-align: center; */
    background-color: #00EAD3;

}
#experience h1{
   
    margin-left: 15px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
#experience h2{
    margin-left: 20px;
    color:#FF1E56;
}
#experience h3{
    margin-left: 20px;
    color:#3A0088;
}
#experience p{
    margin-left: 20px;
    color: #49260A;
}
#certifications{
    border-radius: 0.5% 0.5% 0.5% 0.5%;
    margin-right: 35px;
    margin-left: 35px;
    background-color: #00EAD3;
    /* text-align: center; */
}
#certifications h1{
    
    margin-left: 15px;
    color: whitesmoke;
    background-color: black;
  text-align: center;
}
#certifications h2{
    margin-left: 20px;
    color: #FF1E56;
}
#certifications h3
{
    margin-left: 20px;
    color:#3A0088;
}
#projects{
    border-radius: 0.5% 0.5% 0.5% 0.5%;
     margin-right: 35px;
    margin-left: 35px;
    height: fit-content;
    background-color:#00EAD3;
    /* text-align: center; */
}
#projects h1{
   
    margin-left: 15px;
    background-color: black;
    text-align: center;
    color:whitesmoke;
}
#projects h2{
    margin-left: 20px;
    color:#FF1E56;
}
#projects li{
    margin-left: 20px;
    list-style-type: none;
    color:#1C1124;
    font-size: 17px;
    font-weight: bold;
}

/* right content */

.nav_bar{
    float: left;
    
    background-color: #EE2B47;
    grid-column:5/6;
}
.nav_bar li{  
  border-radius: 2%;
  text-align:center;
  list-style-type:none;
  background-color: yellow;
  /* margin-left:10px; */
  margin-right: 10px;
  margin-top: 60px;
  padding: 10px;

}
.nav_bar a{
    
    font-weight: bold;
    color: #2C2E3E;
    margin-left: -20px;
    text-decoration: solid;
    
}
.nav_bar .topElement{
    margin-top: 130px;
}
.nav_bar h1{
    background-color: white;
    margin-right: 9px;
    text-align: center;
    margin-top: 50px;
}