/* we can set display property to flex to start using flex */
/* Flex Box dynamically distribute the space among various elements */

/* Flex-Direction :- have two axises ..
# it is set by direction [Main-axis]...  i.e.  if flex-direction: row, then main-axis will be horizintally....
# it is perpendicular to main  [Cross-axis]. */

/* Flex-Directions :- row, row-reverse, column, column-reverse. */

div{
    height: 120px;
    width: 120px;
}
#container{
    margin: 0 auto;
    border: 2.5px solid black;
    display: flex;
    width: 90%;
    height: 500px;
    background-color: grey;
   /* flex-direction: row;  it is actually default direction i.e show content from left to right */

   /* flex-direction: row-reverse ; it shows content from right to left; */

   flex-direction: column ; /*it shows content from top to bottom;*/
   
   /* flex-direction: column-reverse ; it shows content from bottom to top; */

}
