#main-content{
    background-color: greenyellow;
}
#rgba{                        /* only affect backgound color*/
    height: 300px;
    width: 800px;
 background-color: rgba(100,230,100,0.5);
 border: 2px solid black;
}
#opacity{                       /*it will affect whole div*/
    height: 300px;
    width: 800px;
 background-color: rgba(100,230,100);
 opacity: 0.5;
 border: 2px solid black;
 margin-top: 3px;
}