
div{
    height: 220px;
    width: 220px;
}
#container{
    margin: 0 auto;
    border: 2.5px solid black;
    display: flex;
    width: 90%;
    height: 400px;
    background-color: grey; 
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap;    */
    align-items: center;

}
div:nth-of-type(2n){              /*  even numbered divs will be aligned to start */
    align-self: flex-start; 
}