body{
    padding: 5%;
}
img{
    width: 20%;
    
    margin:calc(40% / 6);
}
nav{
    /* background-color: wheat; */
    border-bottom: 2px solid gray;
    width: 40%;
    margin-left:calc(40% / 6) ;
    padding: 0px;
}