
div{
    height: 160px;
    width: 160px;
   
}
#container{
    margin: 0 auto;
    border: 2.5px solid black;
    display: flex;
    width: 90%;
    height: 160px;
    background-color: grey; 
    flex-direction: row;
    justify-content: center;
    
    /* flex-grow:1;   empty space will be equally distributed to all divs, now divs wont have h and w of 160px... */
}
/* div:nth-of-type(2n+1){   ....empty space will be distributed to all odd numbered divs equally....
    flex-grow: 1;         
} */

div:nth-of-type(1){          /*all empty space will be taken by 1st div*/
    flex-grow: 1;
}
div:nth-of-type(2){
    flex-grow:1;       /*now empty space will be equally distributed to div1 and div2*/
}


