/* works in the direction of cross axis */


div{
    height: 120px;
    width: 120px;
}
#container{
    margin: 0 auto;
    border: 2.5px solid black;
    display: flex;
    width: 90%;
    height: 300px;
    background-color: grey; 
    justify-content: center;
    flex-direction: row ; /*it means main-axis is horizontal and cross-axis is vertical*/

    align-items: flex-end;   /*it works in direction of cross-axis (which in this case is vertical), 
                              items will align to bottom of container.*/

 /* align-items:flex-start;    it works in direction of cross-axis (which in this case is vertical), 
                               items will align to top of container.*/

  /* align-items: center; */
  /* align-items: baseline; */
}