#Bg{
    width:50%;
    height:300px;
    background-color: yellow;
    color:yellow;
    margin: 0 auto; /*will leave equal space from left and right of div...*/

    background-image: url(https://images.unsplash.com/photo-1653234254755-84bf949832da?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    background-size:cover;      /*"cover" will cover the whole space given to div by expanding the image..*/

/*background-size:contain;*/   /*"contain" will contain the whole picture in div and repeats itself where
                                   picture ends,  can use no-repeat to stop it from repeating..*/

/*background-size:auto;*/     /*automatically fits may use cover and contain both..*/

  background-position: center; /* fit image as centered in div  top bottom left right may be cut off..
                                  can also use top left right bottom instead of center...*/
} 
#shortBg{
    width:50%;
    height:300px;
    background-color: yellow;
    color:yellow;
    margin: 0 auto; /*will leave equal space from left and right of div...*/

     /* below statement will give error because in shorthand bgImage we need to put "/" after position and size
     should only be written after it... */
    /* background:center cover url(https://images.unsplash.com/photo-1653234254755-84bf949832da?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870) */
  
    /* below one is correct*/
    background:center/cover url(https://images.unsplash.com/photo-1653234254755-84bf949832da?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870)
    
}

#MultipleBg{
    width:50%;
    height:300px;
    background-color: yellow;
    color:yellow;
    margin: 0 auto; /*will leave equal space from left and right of div...*/
    /* this time i will set size of bg image to 60%, and then add another bg image under it. */
    background:center/60% no-repeat url(https://images.unsplash.com/photo-1653234254755-84bf949832da?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870)
    ,url(https://images.unsplash.com/photo-1652296665087-8932538830d4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032)

}